/*Обнуляющие стили начало*/

*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	background: #066acd;
}
/*Обнуляющие стили конец*/

/*Стили для общего контейнера начало*/
.container {
	width: 70%;
	margin: 10px auto;
	max-width: 800px;
	background: white;
	border-radius: 10px;
	min-width: 300px;
	min-height: 100px;
}
/*Стили для общего контейнера конец*/

.btn {
	background-color: #0d75ec;
	border: none;
	color: #ffffff;
	outline: none;
	border-radius: 5px;
	cursor: pointer;
}

.mainTitle {
	display: flex;
	justify-content: center;
	padding: 10px 0;
}

/*Стили для контейнера с инпутом и кнопкой */
#newtask {
	padding: 30px 20px;
	display: flex;
	justify-content: space-between;
}

/*Стили для инпута начало */
.addTaskInp {
	width: 75%;
	height: 45px;
	padding: 12px;
	color: #111111;
	font-weight: 500;
	border-radius: 5px;
	font-size: 15px;
	border: 2px solid #d1d3d4;
}

.addTaskInp:focus {
	outline: none;
	border-color: #0d75ec;
}
/*Стили для инпута конец */

/*Стили для кнопки ADD*/
.btn_add {
	font-weight: 500;
	font-size: 16px;
	width: 20%;
	height: 45px;
}

.btn_add:hover {
	background-color: #0b64ca;
}

.btn_add:focus {
	border: 2px solid #0a2ea4;
}

.btn_add:active {
	background-color: #0a2ea4;
	font-size: 20px;
}

/*Стили для контейнера со списком */
.tasksContainer {
	border-radius: 10px;
	width: 100%;
	background-color: #ffffff;
	padding: 30px 20px;
	margin-top: 10px;
}

/*Стили для списка ul начало*/
.toDoList {
	list-style: none;
}

/*Стили для контейнера внури элемента списка*/
.toDoList__item-container {
	display: flex;
	gap: 5px;
	border-radius: 5px;
	align-items: center;
	justify-content: space-between;
	border: 1px solid #939697;
	cursor: pointer;
	background-color: #c5e1e6;
	height: 50px;
	margin-bottom: 8px;
	padding: 5px 10px;
}

.item-checkbox:checked ~ .toDoList__item-text {
	text-decoration: line-through;
}
/*Стили для текста внутри элемента*/
.toDoList__item-text {
	width: 100%;
	overflow-wrap: anywhere;
}

/*Стили для кнопки удалить*/
.btn_delete {
	background-color: #0a2ea4;
	color: #ffffff;
	border: none;
	cursor: pointer;
	outline: none;
	height: 100%;
	width: 40px;
	border-radius: 5px;
}

.btn_delete:active {
	background-color: #061855;
}

.btn_delete:active > .deleteIcon {
	width: 25px;
	height: 25px;
}

.deleteIcon {
	width: 20px;
	height: 20px;
}

/*Стили для списка ul конец*/
